# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL_EDISPO="mysql://root:password@127.0.0.1:3306/poc_db_edisposisi?"
DATABASE_URL_PENOMORAN="mysql://root:password@127.0.0.1:3306/peminjaman?" # disini ada tabel untuk simpan nota dll

# sesuaikan dengan tabel di database
EDISPO_JENIS_KD_R=8
EDISPO_JENIS_KD_B=1

# LOCAL FILESERVER
FILESERVER_URL="https://localhost/fileserver"
FILESERVER_JWT=JWT_TOKEN



# Folder untuk upload file disiapkan di local dengan format 
# perlu migrasi untuk memindahkan file-file yang sudah ada
# pada edispo yang lama file tersimpan di folder ./files untuk dokumen masuk dan ./files_keluar untuk dokumen keluar
# BASE_PATH_UPLOAD/{BIASA|RAHASIA}/{yyyy}/{filename}
# nantinya jika sudah full migrasi maka file ini yang akan digunakan
# BASE_PATH_UPLOAD="D://UPLOAD"

BASE_PATH_UPLOAD="D://UPLOAD"
TMP_UPLOAD_PATH="D://UPLOAD//TMP"
LEGACY_EDISPO_ENABLED=true

